body {
   font-family: Arial, sans-serif;
   background-color: #f7f7f7;
   color: #222;
   max-width: 900px;
   margin: 50px auto;
   padding: 0 20px;
   line-height: 1.6;
}

h1 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #111;
}

p {
    font-size: 18px;
    color: #555;
    margin-bottom: 40px;
}